
.blacky {
  background-color: black;
  position: fixed;
  left: 0px;
  top:0px;
  width: 70px;
  height: 100%;
  border: inset 10px gray;
 box-shadow: blur;
  }
  #bitchhh {
box-shadow: 40px 0px 90px #808080, -40px 0px 90px #808080;
  }
   .black {
  background-color: black;
  position: fixed;
  right: 0px;
  top:0px;
  width: 70px;
  height: 100%;
  border: 10px inset gray;
}
.pepe1 {
        margin-left: 20%;
        margin-right: 20%;
    }


  
body {
 
  background-image: url(https://www.impericon.com/media/catalog/product/p/e/pendulum-tapestry_lg.jpg);
  background-attachment: fixed;
  background-position: center ;
  background-size: 65%;
}
h1 {
  background-color: #404040;
  font-family: serif;
  position: center absolute;
  text-align: center;
}
.borderlove {
  border: 10px inset gray;
  box-shadow: 0px -40px 90px #808080, 0px 60px 90px #808080;

}
